# Interface: ValidationResult

Defined in: [src/types/typeDefs.ts:260](https://github.com/zotoio/x-fidelity/blob/f39ce89f1db3ea0cfe6f222cf6cc7fcd78a94dca/src/types/typeDefs.ts#L260)

## Properties

### error?

> `optional` **error**: `string`

Defined in: [src/types/typeDefs.ts:262](https://github.com/zotoio/x-fidelity/blob/f39ce89f1db3ea0cfe6f222cf6cc7fcd78a94dca/src/types/typeDefs.ts#L262)

***

### isValid

> **isValid**: `boolean`

Defined in: [src/types/typeDefs.ts:261](https://github.com/zotoio/x-fidelity/blob/f39ce89f1db3ea0cfe6f222cf6cc7fcd78a94dca/src/types/typeDefs.ts#L261)
